<div id="profileInfoWrapper">
    <ul id="profileNav">
      <li>
          <a>Profile Info</a>
      </li>
       
    </ul>
    <div id="userDetail">
        <div class="row">
            <!--User Name-->
            <div class="col-md-3"><h5>User name</h5></div>
            <div class="col-md-6"> {{ userData.firstName }} {{ userData.lastName }} </div>
            <div class="col-md-3"></div>

            <!--Login-->
            <div class="col-md-3"><h5>Login</h5></div>
            <div class="col-md-6"> {{ userData.login }} </div>
            <div class="col-md-3"></div>

            <!--Phone number-->
            <div class="col-md-3"><h5>Phone number</h5></div>
            <div class="col-md-6"> {{ userData.phone }} </div>
            <div class="col-md-3"></div>

            <!--Email-->
            <div class="col-md-3"><h5>Email</h5></div>
            <div class="col-md-6"> {{ userData.email }} </div>
            <div class="col-md-3"></div>

            <!--Address-->
            <div class="col-md-3"><h5>Address</h5></div>
            <div class="col-md-6"> {{ userData.address }} </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
 


