<div class="col-xs-12 col-md-12">
  <form id="signUp"
        [formGroup]="registrationForm"
        (ngSubmit)="onSignUp()">

    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="form-group">
          <label for="First Name">
            First Name:
            
            <input type="text"
                   placeholder="Enter First Name"
                   class="form-control"
                   id="firstName"
                   name="firstName"
                   formControlName="firstName">
          </label>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="form-group">
          <label for="Last Name">
            Last Name:
            
            <input type="text"
                   placeholder="Enter Last Name"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   formControlName="lastName">
          </label>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="form-group">
          <label for="login">
            Login:

            <input type="text"
                   placeholder="Enter login"
                   class="form-control"
                   id="login"
                   name="login"
                   formControlName="login">
          </label>
        </div>
      </div>

 
      <div class="col-md-6 col-xs-6">
        <div class="form-group">
          <label for="password">
            Password:

            <input type="text"
                   id="password"
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="Enter password"
                   formControlName="password">
          </label>
        </div>
      </div>

      <div class="col-md-6 col-xs-6">
        <div class="form-group">
          <label for="passwordRepeat">
            Repeat password:
            
            <input type="text"
                   id="passwordRepeat"
                   name="passwordRepeat"
                   type="password"
                   class="form-control"
                   placeholder="Repeat password"
                   formControlName="repeatPassword">
        </label>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="form-group">
        <label for="phone">
          Phone:
        <input type="text"
               id="phone"
               name="phone"
               class="form-control"
               placeholder="Enter phone"
               formControlName="phone">
      </label>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="form-group">
        <label for="email">
          Email:
        <input type="text"
               placeholder="Enter email"
               class="form-control"
               id="email"
               name="email"
               formControlName="email">
        </label>
      </div>
    </div>

    <div class="col-md-6 col-xs-6">
      <div class="form-group">
        <label for="address">
          Address:
        <input type="text"
               id="address"
               name="address"
               class="form-control"
               placeholder="Enter address"
               formControlName="address">
        </label>
      </div>
    </div>

  </div>

    <button class="btn btn-success"
            type="submit">
      Sign Up
    </button>
  </form>
</div>

