#signInUp {
    width: 50%;
    min-height: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    background: white;
    border-radius: 8px;
    padding-bottom: 15px;

    #formsNav {
        border: 1px solid black;

        li {
            list-style-type: none;
            display: inline;
            margin-left: 5px;

          
        }
         
        a {
            color: black;
        }
        
        .activeTab {
           
            a {
                color: red;
               
            
                &:hover {
                    cursor: pointer;
                    color: red;
                   
                }

            }
        }
         
    }
}



 

 

