<div id="productCart">
    <div id="productCartHeader">
        <header> 
            <h4>Product Cart</h4>
        </header>
    </div>

    <div id="products" class="align-middle">
        <div id="emptyCart" *ngIf="cart.length == 0" >
            <h2>Cart is empty</h2>
        </div>

        <div *ngFor="let product of cart"
              class="product">
            <div class="productLogoWrapper">
                <img [src]="product.imgPath" class="img-responsive"  >
            </div>

            <div class="productTitle">
                <h5> {{ product.productTitle }} </h5>
            </div>

            <!--Section-->
            <!--
            -  1  +
            -->   

            <div class="productPrice">
                <h5>{{ product.productPrice }} $</h5>
            </div>

            <div class="deleteItem">
                <button class="btn btn-danger" (click)="deleteCurrentProduct(product)">X</button>
            </div>
            <hr>
        </div>     
    </div>

    <div id="controls" *ngIf="!cart.length == 0">
        <button class="btn btn-success" id="buyProducts">BUY</button>
    </div>
</div>