<div id="sideBar">
  <nav id="productCategory">
    
    <div id="logo">
      <a [routerLink]="['/dashboard/products', 'pizza']">Logo</a>
    </div>
    <ul>
      <li routerLinkActive = "activeTab" [routerLink]="['/dashboard', 'products', 'pizza']"><a  >Pizza</a></li>
      <li routerLinkActive = "activeTab" [routerLink]="['/dashboard/products/', 'drinks']"><a >Drinks</a></li>
      <li routerLinkActive = "activeTab" [routerLink]="['/dashboard/products/', 'salads']"><a >Salads</a></li>
  </ul>
  </nav>
</div>
